<md-content flex id="content">
	<h2>{{layout.selected.name}}</h2>
	<p>{{layout.selected.content}}</p>
			<div layout="row" layout-padding layout-wrap layout-fill ng-cloak>
			<h3><a href="https://himanshu810e.github.io">Github	</a></h3>
			<h3><a href="https://twitter.com/himanshu810e">Twitter</a></h3>
			<h3><a href="http://stackoverflow.com/users/4290127/himanshu-chaudhary">Stack Overflow</a></h3>
			<h3><a href="https://careers.stackoverflow.com/himanshu810e">Stack Overflow Careers</a></h3>
			<h3><a href="https://www.xing.com/profile/Himanshu_Chaudhary">Xing</a></h3>
			<h3><a href="https://ch.linkedin.com/in/himanshu810e">Linkedin</a></h3>
			</div>

</md-content>